<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Companies</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/3b1c75d67e.js" crossorigin="anonymous"></script>
</head>

<body>
    <%-include('./partials/nav')%>

    <main id="profile-list">
        <h1>Hier sind alle Geschäfte, <br> die
            du unterstützen kannst</h1>

        <section id="profile-list-wrap">
            <% profileData.forEach(elem => { %>
            <article>
                <img src="<%= elem.cover_photo_url %>" alt=""></img>
                <img src="<%= elem.profile_photo_url %>" alt=""></img>
                <div class="text-wrap">
                    <h2> <%= elem.company_name %> </h2>
                    <p> <%= elem.company_headline %> </p>
                    <a class="btn" href="/companyProfilePage/<%= elem._id %>">Support</a>
                </div>
            </article>
            <% }); %>
        </section>
    </main>

    <%-include('./partials/footer')%>

</body>

</html>